In [1]:
3 + 2 # Shitf + Enter(실행)

5

In [2]:
import xlwings

In [3]:
xlwings.sheets

Sheets([<Sheet [통합 문서1]Sheet1>])

In [4]:
xlwings.Range("A1")

In [5]:
xlwings.Range("A1").expand()

In [6]:
xlwings.Range("A1").expand().value

[['message', 'browser'],
 ['로그#1', 'chorme'],
 ['로그#2', 'chorme'],
 ['로그#3', 'chorme'],
 ['로그#4', 'chorme'],
 ['로그#5', 'chorme'],
 ['로그#6', 'chorme'],
 ['로그#7', 'chorme'],
 ['로그#8', 'chorme'],
 ['로그#9', 'chorme']]

In [7]:
total_rows = xlwings.Range("A1").expand().value
total_rows

[['message', 'browser'],
 ['로그#1', 'chorme'],
 ['로그#2', 'chorme'],
 ['로그#3', 'chorme'],
 ['로그#4', 'chorme'],
 ['로그#5', 'chorme'],
 ['로그#6', 'chorme'],
 ['로그#7', 'chorme'],
 ['로그#8', 'chorme'],
 ['로그#9', 'chorme']]

In [9]:
column_names = total_rows[0]
column_names

['message', 'browser']

In [10]:
total_rows[1:]

[['로그#1', 'chorme'],
 ['로그#2', 'chorme'],
 ['로그#3', 'chorme'],
 ['로그#4', 'chorme'],
 ['로그#5', 'chorme'],
 ['로그#6', 'chorme'],
 ['로그#7', 'chorme'],
 ['로그#8', 'chorme'],
 ['로그#9', 'chorme']]

In [13]:
for row in total_rows[1:]:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

{'message': '로그#1', 'browser': 'chorme'}
{'message': '로그#2', 'browser': 'chorme'}
{'message': '로그#3', 'browser': 'chorme'}
{'message': '로그#4', 'browser': 'chorme'}
{'message': '로그#5', 'browser': 'chorme'}
{'message': '로그#6', 'browser': 'chorme'}
{'message': '로그#7', 'browser': 'chorme'}
{'message': '로그#8', 'browser': 'chorme'}
{'message': '로그#9', 'browser': 'chorme'}

In [14]:
# list comprehension
[
    dict(zip(column_names, row))
    for row in total_rows[1:]
]

[{'message': '로그#1', 'browser': 'chorme'},
 {'message': '로그#2', 'browser': 'chorme'},
 {'message': '로그#3', 'browser': 'chorme'},
 {'message': '로그#4', 'browser': 'chorme'},
 {'message': '로그#5', 'browser': 'chorme'},
 {'message': '로그#6', 'browser': 'chorme'},
 {'message': '로그#7', 'browser': 'chorme'},
 {'message': '로그#8', 'browser': 'chorme'},
 {'message': '로그#9', 'browser': 'chorme'}]

In [15]:
# list comprehension
rows_data = [
    dict(zip(column_names, row))
    for row in total_rows[1:]
]
rows_data

[{'message': '로그#1', 'browser': 'chorme'},
 {'message': '로그#2', 'browser': 'chorme'},
 {'message': '로그#3', 'browser': 'chorme'},
 {'message': '로그#4', 'browser': 'chorme'},
 {'message': '로그#5', 'browser': 'chorme'},
 {'message': '로그#6', 'browser': 'chorme'},
 {'message': '로그#7', 'browser': 'chorme'},
 {'message': '로그#8', 'browser': 'chorme'},
 {'message': '로그#9', 'browser': 'chorme'}]

# 정리

In [18]:
def get_rows_data():
    total_rows = xlwings.Range("A1").expand().value
    column_names = total_rows[0]
    rows_data = [
        dict(zip(column_names, row))
        for row in total_rows[1:]
    ]
    return rows_data

get_rows_data()

[{'message': '로그#1', 'browser': 'chorme'},
 {'message': '로그#2', 'browser': 'chorme'},
 {'message': '로그#3', 'browser': 'chorme'},
 {'message': '로그#4', 'browser': 'chorme'},
 {'message': '로그#5', 'browser': 'chorme'},
 {'message': '로그#6', 'browser': 'chorme'},
 {'message': '로그#7', 'browser': 'chorme'},
 {'message': '로그#8', 'browser': 'chorme'},
 {'message': '로그#9', 'browser': 'chorme'}]

# 데이터베이스 접속

In [21]:
DATABASE = {
    "host" : "127.0.0.1",
    "user" : "root",
    "password" : "1234",
    "db" : "myproj11_db",
    "charset" : "utf8"
}

In [25]:
import pymysql

connection = pymysql.connect(**DATABASE)
cursor = connection.cursor()
cursor.execute("SELECT * FROM log")
print(cursor.fetchall())
cursor.close()

()

# with 절

In [29]:
import pymysql
from contextlib import contextmanager

@contextmanager
def db_cursor():
    connection = pymysql.connect(**DATABASE)
    cursor = connection.cursor()
    try:
        yield cursor
    finally:
        cursor.close()

In [31]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    print(cursor.fetchall())

()

In [48]:
column_data = {'message' : '로그#1', 'browser' : 'chrome'}

with db_cursor() as cursor:
    for row in get_rows_data():
        sql = "INSERT INTO LOG(message, browser) VALUES(%(message)s, %(browser)s)"
        cursor.execute(sql, row_dict)

In [33]:
get_rows_data()

[{'message': '로그#1', 'browser': 'chorme'},
 {'message': '로그#2', 'browser': 'chorme'},
 {'message': '로그#3', 'browser': 'chorme'},
 {'message': '로그#4', 'browser': 'chorme'},
 {'message': '로그#5', 'browser': 'chorme'},
 {'message': '로그#6', 'browser': 'chorme'},
 {'message': '로그#7', 'browser': 'chorme'},
 {'message': '로그#8', 'browser': 'chorme'},
 {'message': '로그#9', 'browser': 'chorme'}]

In [52]:
with db_cursor() as cursor:
    sql = "SELECT * FROM LOG"
    cursor.execute(sql)
#     while True:
#         row = cursor.fetchone()
#         print(row)
#         if row is None:
#             break
#         print(row)
    for row in cursor:
        print(row)

(5, '로그#1', 'chrome')

# SQL Injection 공격의 예

In [62]:
with db_cursor() as cursor:
    log_id = '1 or 1'
    # sql = "SELECT * FROM LOG WHERE id = " + str(log_id)
    # sql = "SELECT * FROM LOG WHERE id = 1 or 1"
    
    sql = "SELECT * FROM LOG WHERE id = %s"
    cursor.execute(sql, [log_id])
    for row in cursor:
        print(row)

# 데이터 매핑의 예

In [65]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    rows_data = cursor.fetchall()
#    for row in cursor:
#        row[0] # id
#        row[1] # message
#        row[2] # chrome
#        print(row)

rows_data

((26, '로그#5', 'chrome'), (27, '로그#6', 'chrome'))

## dic으로의 변환

## namedtuple

In [67]:
from collections import namedtuple

Log = namedtuple('Log', 'id message browser')

In [90]:
Log = (1, 'message', 'chrome')
print(log[0])
print(log[1])
print(log[2])

1
message
chrome

In [66]:
rows_data

((26, '로그#5', 'chrome'), (27, '로그#6', 'chrome'))

In [91]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    rows_data = [
        Log(*row)
        for row in cursor.fetchall()]
    
rows_data

TypeError: 'tuple' object is not callable