In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [ ]:
shop = Shop() # FirstShop (o), first_shop(x), firstShop(x), first_Shop(x)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [ ]:
shop.save()

In [ ]:
Shop.objects.create(
    name = "셀프24시빨래방",
    telephone = "042-1234-4321",
)
shop

# Select

In [4]:
qs = Shop.objects.all()

In [5]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

In [ ]:
qs.order_by("id") # 정렬을 가급적 단일 컬럼을 사용하는게 좋음

In [ ]:
qs.order_by("-id") # 1차기준(내림차순)

In [ ]:
qs.order_by("-id", "created_at") # 1차기준(내림차순), 2차기준

# 데이터 뻥튀기

In [7]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.046) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:15.437448', '2021-12-01 06:45:15.437448'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:15.437448', '2021-12-01 06:45:15.437448']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:15.493707', '2021-12-01 06:45:15.493707'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:15.493707', '2021-12-01 06:45:15.493707']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:15.507668', '2021-12-01 06:45:15.507668'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:15.507668', '2021-12-01 06:45:15.507668']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:15.520595', '2021-12-01 06:45:15.520595'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:15.520595', '2021-12-01 06:45:15.520595']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:15.535571', '2021-12-01 06:45:15.535571'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:15.535571', '2021-12-01 06:45:15.535571']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:15.552727', '2021-12-01 06:45:15.552727'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:15.552727', '2021-12-01 06:45:15.552727']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:15.568203', '2021-12-01 06:45:15.568203'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:15.568203', '2021-12-01 06:45:15.568203']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:15.583753', '2021-12-01 06:45:15.583753'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:15.583753', '2021-12-01 06:45:15.583753']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:15.601220', '2021-12-01 06:45:15.601220'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:15.601220', '2021-12-01 06:45:15.601220']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:15.616729', '2021-12-01 06:45:15.616729'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:15.616729', '2021-12-01 06:45:15.616729']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:15.635597', '2021-12-01 06:45:15.635597'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:15.635597', '2021-12-01 06:45:15.635597']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:15.653994', '2021-12-01 06:45:15.653994'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:15.653994', '2021-12-01 06:45:15.653994']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:15.668537', '2021-12-01 06:45:15.668537'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:15.668537', '2021-12-01 06:45:15.668537']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:15.683513', '2021-12-01 06:45:15.683513'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:15.683513', '2021-12-01 06:45:15.683513']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:15.699468', '2021-12-01 06:45:15.699468'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:15.699468', '2021-12-01 06:45:15.699468']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:15.713439', '2021-12-01 06:45:15.713439'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:15.713439', '2021-12-01 06:45:15.713439']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:15.729284', '2021-12-01 06:45:15.729284'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:15.729284', '2021-12-01 06:45:15.729284']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:15.745241', '2021-12-01 06:45:15.745241'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:15.745241', '2021-12-01 06:45:15.745241']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:15.760715', '2021-12-01 06:45:15.760715'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:15.760715', '2021-12-01 06:45:15.760715']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:15.775744', '2021-12-01 06:45:15.775744'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:15.775744', '2021-12-01 06:45:15.775744']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:15.790896', '2021-12-01 06:45:15.790896'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:15.790896', '2021-12-01 06:45:15.790896']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:15.805522', '2021-12-01 06:45:15.806517'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:15.805522', '2021-12-01 06:45:15.806517']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:15.821292', '2021-12-01 06:45:15.821292'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:15.821292', '2021-12-01 06:45:15.821292']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:15.836187', '2021-12-01 06:45:15.836187'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:15.836187', '2021-12-01 06:45:15.836187']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:15.851323', '2021-12-01 06:45:15.851323'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:15.851323', '2021-12-01 06:45:15.851323']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:15.865971', '2021-12-01 06:45:15.865971'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:15.865971', '2021-12-01 06:45:15.865971']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:15.880578', '2021-12-01 06:45:15.880578'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:15.880578', '2021-12-01 06:45:15.880578']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:15.898582', '2021-12-01 06:45:15.898582'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:15.898582', '2021-12-01 06:45:15.898582']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:15.915921', '2021-12-01 06:45:15.915921'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:15.915921', '2021-12-01 06:45:15.915921']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:15.931662', '2021-12-01 06:45:15.931662'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:15.931662', '2021-12-01 06:45:15.931662']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:15.947492', '2021-12-01 06:45:15.947492'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:15.947492', '2021-12-01 06:45:15.947492']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:15.962637', '2021-12-01 06:45:15.962637'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:15.962637', '2021-12-01 06:45:15.962637']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:15.979701', '2021-12-01 06:45:15.979701'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:15.979701', '2021-12-01 06:45:15.979701']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:15.995879', '2021-12-01 06:45:15.995879'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:15.995879', '2021-12-01 06:45:15.995879']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:16.010517', '2021-12-01 06:45:16.010517'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:16.010517', '2021-12-01 06:45:16.010517']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:16.033284', '2021-12-01 06:45:16.033284'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:16.033284', '2021-12-01 06:45:16.033284']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:16.048244', '2021-12-01 06:45:16.048244'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:16.048244', '2021-12-01 06:45:16.048244']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:16.063216', '2021-12-01 06:45:16.063216'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:16.063216', '2021-12-01 06:45:16.063216']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:16.078185', '2021-12-01 06:45:16.078185'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:16.078185', '2021-12-01 06:45:16.078185']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:16.093209', '2021-12-01 06:45:16.093209'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:16.093209', '2021-12-01 06:45:16.093209']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:16.109811', '2021-12-01 06:45:16.109811'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:16.109811', '2021-12-01 06:45:16.109811']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:16.127659', '2021-12-01 06:45:16.127659'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:16.127659', '2021-12-01 06:45:16.127659']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:16.146685', '2021-12-01 06:45:16.146685'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:16.146685', '2021-12-01 06:45:16.146685']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:16.162676', '2021-12-01 06:45:16.162676'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:16.162676', '2021-12-01 06:45:16.162676']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:16.181223', '2021-12-01 06:45:16.181223'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:16.181223', '2021-12-01 06:45:16.181223']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:16.195299', '2021-12-01 06:45:16.195299'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:16.195299', '2021-12-01 06:45:16.195299']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:16.209710', '2021-12-01 06:45:16.209710'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:16.209710', '2021-12-01 06:45:16.209710']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:16.224949', '2021-12-01 06:45:16.224949'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:16.224949', '2021-12-01 06:45:16.224949']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:16.241798', '2021-12-01 06:45:16.241798'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:16.241798', '2021-12-01 06:45:16.241798']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:16.258745', '2021-12-01 06:45:16.258745'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:16.258745', '2021-12-01 06:45:16.258745']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:16.277527', '2021-12-01 06:45:16.277527'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:16.277527', '2021-12-01 06:45:16.277527']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:16.296749', '2021-12-01 06:45:16.297745'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:16.296749', '2021-12-01 06:45:16.297745']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:16.312864', '2021-12-01 06:45:16.312864'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:16.312864', '2021-12-01 06:45:16.312864']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:16.331174', '2021-12-01 06:45:16.331174'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:16.331174', '2021-12-01 06:45:16.331174']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:16.346459', '2021-12-01 06:45:16.346459'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:16.346459', '2021-12-01 06:45:16.346459']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:16.359952', '2021-12-01 06:45:16.359952'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:16.359952', '2021-12-01 06:45:16.359952']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:16.374545', '2021-12-01 06:45:16.374545'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:16.374545', '2021-12-01 06:45:16.374545']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:16.389518', '2021-12-01 06:45:16.389518'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:16.389518', '2021-12-01 06:45:16.389518']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:16.406609', '2021-12-01 06:45:16.406609'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:16.406609', '2021-12-01 06:45:16.406609']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:16.426821', '2021-12-01 06:45:16.426821'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:16.426821', '2021-12-01 06:45:16.426821']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:16.447663', '2021-12-01 06:45:16.447663'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:16.447663', '2021-12-01 06:45:16.447663']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:16.463273', '2021-12-01 06:45:16.463273'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:16.463273', '2021-12-01 06:45:16.463273']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:16.479393', '2021-12-01 06:45:16.479393'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:16.479393', '2021-12-01 06:45:16.479393']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:16.493567', '2021-12-01 06:45:16.493567'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:16.493567', '2021-12-01 06:45:16.493567']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:16.508632', '2021-12-01 06:45:16.508632'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:16.508632', '2021-12-01 06:45:16.508632']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:16.522258', '2021-12-01 06:45:16.522258'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:16.522258', '2021-12-01 06:45:16.522258']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:16.536690', '2021-12-01 06:45:16.536690'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:16.536690', '2021-12-01 06:45:16.536690']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:16.555106', '2021-12-01 06:45:16.555106'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:16.555106', '2021-12-01 06:45:16.555106']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:16.572568', '2021-12-01 06:45:16.572568'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:16.572568', '2021-12-01 06:45:16.572568']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:16.585582', '2021-12-01 06:45:16.585582'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:16.585582', '2021-12-01 06:45:16.585582']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:16.612628', '2021-12-01 06:45:16.612628'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:16.612628', '2021-12-01 06:45:16.612628']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:16.627587', '2021-12-01 06:45:16.627587'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:16.627587', '2021-12-01 06:45:16.627587']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:16.642548', '2021-12-01 06:45:16.642548'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:16.642548', '2021-12-01 06:45:16.642548']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:16.660543', '2021-12-01 06:45:16.660543'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:16.660543', '2021-12-01 06:45:16.660543']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:16.677127', '2021-12-01 06:45:16.677127'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:16.677127', '2021-12-01 06:45:16.677127']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:16.694081', '2021-12-01 06:45:16.694081'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:16.694081', '2021-12-01 06:45:16.694081']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:16.714027', '2021-12-01 06:45:16.714027'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:16.714027', '2021-12-01 06:45:16.714027']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:16.731125', '2021-12-01 06:45:16.731125'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:16.731125', '2021-12-01 06:45:16.731125']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:16.745050', '2021-12-01 06:45:16.745050'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:16.745050', '2021-12-01 06:45:16.745050']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:16.760730', '2021-12-01 06:45:16.760730'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:16.760730', '2021-12-01 06:45:16.760730']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:16.775852', '2021-12-01 06:45:16.775852'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:16.775852', '2021-12-01 06:45:16.775852']

(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:16.792840', '2021-12-01 06:45:16.792840'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:16.792840', '2021-12-01 06:45:16.792840']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:16.812873', '2021-12-01 06:45:16.812873'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:16.812873', '2021-12-01 06:45:16.812873']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:16.830311', '2021-12-01 06:45:16.830311'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:16.830311', '2021-12-01 06:45:16.830311']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:16.844219', '2021-12-01 06:45:16.844219'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:16.844219', '2021-12-01 06:45:16.844219']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:16.859306', '2021-12-01 06:45:16.859306'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:16.859306', '2021-12-01 06:45:16.859306']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:16.874717', '2021-12-01 06:45:16.874717'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:16.874717', '2021-12-01 06:45:16.874717']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:16.891718', '2021-12-01 06:45:16.891718'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:16.891718', '2021-12-01 06:45:16.891718']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:16.910664', '2021-12-01 06:45:16.910664'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:16.910664', '2021-12-01 06:45:16.910664']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:16.927680', '2021-12-01 06:45:16.927680'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:16.927680', '2021-12-01 06:45:16.927680']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:16.948800', '2021-12-01 06:45:16.948800'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:16.948800', '2021-12-01 06:45:16.948800']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:16.962482', '2021-12-01 06:45:16.962482'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:16.962482', '2021-12-01 06:45:16.962482']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:16.976450', '2021-12-01 06:45:16.976450'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:16.976450', '2021-12-01 06:45:16.976450']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:16.995219', '2021-12-01 06:45:16.995219'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:16.995219', '2021-12-01 06:45:16.995219']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:17.010010', '2021-12-01 06:45:17.010010'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:17.010010', '2021-12-01 06:45:17.010010']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:17.025018', '2021-12-01 06:45:17.025018'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:17.025018', '2021-12-01 06:45:17.025018']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:17.041207', '2021-12-01 06:45:17.041207'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:17.041207', '2021-12-01 06:45:17.041207']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:17.058819', '2021-12-01 06:45:17.058819'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:17.058819', '2021-12-01 06:45:17.058819']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:17.075936', '2021-12-01 06:45:17.075936'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:17.075936', '2021-12-01 06:45:17.075936']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:17.092478', '2021-12-01 06:45:17.092478'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:17.092478', '2021-12-01 06:45:17.092478']

## Slicing

In [8]:
qs = Shop.objects.all()

In [10]:
qs[:10] # first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>]>

In [11]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>]

In [12]:
qs[-10:] # last 10 rows => Not supported in DB. It's Python syntax!

AssertionError: Negative indexing is not supported.

In [14]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가게명#8 042-1234-9008
11 가게명#7 042-1234-9007
10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

## Conditions

In [15]:
qs = Shop.objects.all()

In [16]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [17]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [18]:
# lt : less than <
# lte : less than equal <=
# gt : greater than >
# gte : greater than equal >=

qs.filter(
    pk__gte=5, # greater than euqal
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [20]:
qs.filter(pk__gte=5).filter(pk__lt=10) # 체이닝

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [22]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [23]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy.

In [24]:
qs = Shop.objects.all()

In [25]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [26]:
qs = Shop.objects.all()
shop_list = list(qs) # list화 시키기 때문에, db를 불러옴. 따라서 메모리를 쓰기때문에 속도가 느려짐.

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [31]:
pk = 10
not_existed_pk = 100_000

In [28]:
shop = Shop.objects.get(pk=pk) # get : 가져올 대상이 1개임을 기대. 1개가 아니면 예외가 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [32]:
Shop.objects.get(pk=not_existed_pk) # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [30]:
Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [33]:
Shop.objects.filter(pk=not_existed_pk)[0] # IndexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [34]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [36]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [37]:
from django.db.models import Q

In [39]:
Q(pk__gte=5)

In [40]:
Q(pk__lt=10)

In [41]:
Q(pk__gte=5) & Q(pk__lt=10)

In [42]:
Q(pk__gte=5) | Q(pk__lt=10)

In [43]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [44]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [45]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [46]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [47]:
shop.telephone = '042-1234-0006'

In [48]:
shop.save()

(0.046) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:15.552727', "updated_at" = '2021-12-01 07:38:39.684653' WHERE "mall_shop"."id" = 10; args=('가게명#6', '', '042-1234-0006', '', '2021-12-01 06:45:15.552727', '2021-12-01 07:38:39.684653', 10)

## 지정 범위의 Rows

In [49]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description = "not used description",
)

(0.047) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [50]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.047) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:15.552727', "updated_at" = '2021-12-01 07:42:06.658429' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used description', '042-1234-0006', '', '2021-12-01 06:45:15.552727', '2021-12-01 07:42:06.658429', 10)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:15.535571', "updated_at" = '2021-12-01 07:42:06.704722' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 06:45:15.535571', '2021-12-01 07:42:06.704722', 9)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:15.520595', "updated_at" = '2021-12-01 07:42:06.720761' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 06:45:15.520595', '2021-12-01 07:42:06.720761', 8)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:15.507668', "updated_at" = '2021-12-01 07:42:06.737467' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:15.507668', '2021-12-01 07:42:06.737467', 7)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:15.493707', "updated_at" = '2021-12-01 07:42:06.755478' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:15.493707', '2021-12-01 07:42:06.755478', 6)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:15.437448', "updated_at" = '2021-12-01 07:42:06.771499' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:15.437448', '2021-12-01 07:42:06.771499', 5)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:13.751231', "updated_at" = '2021-12-01 07:42:06.793434' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:13.751231', '2021-12-01 07:42:06.793434', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:11:09.730829', "updated_at" = '2021-12-01 07:42:06.810387' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:11:09.730829', '2021-12-01 07:42:06.810387', 3)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()